body {
    background-color: rgb(111, 111, 111);
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.square {
    background-color: rgb(255, 255, 255);
}

.active {
    background-color: black;
    color: white;
}