* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: #2b2d42;
    color: white;

    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

#title {
    text-align: center;
    background-color: #212529;
    padding: 20px;
    border-bottom: 2px solid #240046;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 0 auto;
    margin-top: 40px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#squares-container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;

    box-shadow: 0 0 20px #6c757d;
}

.range-container {
    background-color: black;
}

.buttons {
    padding: 10px 20px;
    width: 150px;

    border: 2px solid #3c096c;
    border-radius: 10px;

    color: white;
    background-color: black;
    transition-duration: 0.5s;
    text-shadow: 0 0 10px white;

    font-size: 20px;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
}

.buttons:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
}

.square {
    background-color: rgb(255, 255, 255);
}

.active {
    transform: scale(1.2);
    background-color: #212529;
    color: #e0aaff;
    border: 2px solid #7b2cbf;
    text-shadow: 0 0 10px #e0aaff;
}

#clear-btn:active {
    transition: 0s;
    background-color: #212529;
    color: #e0aaff;
    border: 2px solid #7b2cbf;
    text-shadow: 0 0 10px #e0aaff;
}

#rainbow-btn {
    animation: rgb-text 10s infinite linear;
}

@keyframes rgb-text {
    0% { color: red; text-shadow: 0 0 10px red; }
    33% { color: lime; text-shadow: 0 0 10px lime; }
    66% { color: blue; text-shadow: 0 0 10px blue; }
    100% { color: red; text-shadow: 0 0 10px red; }
}

.text {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
}