body {
    background-color: rgb(111, 111, 111);
}

#container {
    display: flex;
    flex-wrap: wrap;

    width: 400px;
    height: 400px;
}

.square {
    background-color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
}